.column {
  display: inline-block;
  vertical-align: top;
}

@define-mixin column $breakPoint {
  /* 100 */
  .column$(breakPoint)-1 {
    width: 100%;
  }

  /* 66.66% */
  .column$(breakPoint)-2-3 {
    width: calc(100%  * (2 / 3));
  }

  /* 50% */
  .column$(breakPoint)-1-2 {
    width: calc(100% / 2);
  }

  /* 33.33% */
  .column$(breakPoint)-1-3 {
    width: calc(100% / 3);
  }

  /* 30% */
  .column$(breakPoint)-3-10 {
    width: calc(100% * (3 / 10));
  }

  /* 25% */
  .column$(breakPoint)-1-4 {
    width: calc(100% / 4);
  }

  /* 20% */
  .column$(breakPoint)-1-5 {
    width: calc(100% / 5);
  }
}

@mixin column;

@media (min-width: 568px) {
  @mixin column Sm;
}

@media (min-width: 768px) {
  @mixin column Md;
}

@media (min-width: 1024px) {
  @mixin column Lg;
}

@media (min-width: 1280px) {
  @mixin column Xl;
}
