$container-width: 100%;

@define-mixin scroll $direction {
  @if $direction === 'vertical' {
    overflow-x: scroll;
    overflow-y: hidden;
  }
  @if $direction === 'horizontal' {
    overflow-x: hidden;
    overflow-y: scroll;
  }
  -webkit-overflow-scrolling: touch;
}

.dtContainer {
  position: relative;
  width: $container-width;
}

.dtContainerScrollX {
  @mixin scroll horizontal;
}

.dtContainerScrollY {
  @mixin scroll vertical;
}
